.ships {
  display: flex;
}

.square {
  /* border-left: 1px solid black; */
  border-right: none;
}

.square .square {
  border-right: 1px solid black;
}

[id*='4Car'] {
  border-bottom: 1px solid black;
}

[id*='3Bat'] {
  border-bottom: 1px solid black;
}

[id*='2Cru'] {
  border-bottom: 1px solid black;
}

[id*='2Sub'] {
  border-bottom: 1px solid black;
}

[id*='1Des'] {
  border-bottom: 1px solid black;
}
